* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0;
  left: 0;
  width: 300px;
  border-right: solid;
  border-color: grey;
  height: 100%;
}

#navbar > header {
  border-bottom: 1px solid grey;
  font-size: 30px;
  padding: 10px 0px;
  text-align: center;
}

#navbar > ul {
  margin: 0;
  padding: 0;
}

#navbar > ul > li {
  list-style: none;
  border-bottom: 1px solid grey;
  padding: 10px 15px;
  font-size: 17px;
}

.nav-link {
  color: grey;
  text-decoration: none;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

.main-section header {
  font-size: 28px;
  font-weight: 500;
}

.main-section > article {
  color: #4d4e53;
  font-size: 0.96em;  
  margin: 15px;
}

.main-section > article > code {
  display: block;
  padding: 15px;
  margin: 10px;
  position: relative;
  border-radius: 5px;
  white-space: pre;
  line-height: 2;
  background-color: #f7f7f7;
}
